<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Stock Manager Pro</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400">
    <link rel="stylesheet" href="../../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../static/assets/css/smoothproducts.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled-1.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-dark clean-navbar">
        <div class="container-fluid"><a class="navbar-brand text-white logo" href="index.html">Stock Manager Pro</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation" style="padding-right: 4px;"><a class="nav-link text-capitalize" href="register.html" style="color: rgba(255,255,255,0.9);">Register</a></li>
                    <li class="nav-item" role="presentation" style="padding-right: 4px;"><a class="nav-link text-capitalize text-white" href="login.html">Login</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <footer class="text-nowrap page-footer dark" style="margin-top: 37px;padding-top: -10px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright" style="margin-top: 2px;">
            <p>© 2020 Stock Manager Pro</p>
        </div>
    </footer>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../../static/assets/js/smoothproducts.min.js"></script>
    <script src="../../static/assets/js/theme.js"></script>
</body>

</html>