{% extends "base.html" %} {% block content %}

<section class="clean-block clean-hero" style="background-image: url_for('static/img/pexels-photo-1055297.jpeg') ;color: rgba(26,33,61,0.45);margin: -42px;">
            <div class="text" style="margin-bottom: 139px;">
                <h2>Meet Stock Manager Pro<br></h2>
                <p style="margin: 0px 0px 20px;">Keeping track of investments used to be a hassle.<br>Stock Manager Pro makes it simple.&nbsp;<br></p><button class="btn btn-outline-light btn-lg" type="button">Get Started</button></div>
        </section>
        <section class="clean-block features" style="background-color: #ffffff;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="text-left col-md-5 feature-box"><i class="icon-speedometer icon"></i>
                        <h4><strong>Know your performance</strong><br></h4>
                        <p>Understand exactly how your investments are performing with daily price &amp; currency updates<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Document</h4>
                        <p>Document and follow your stocks profit and loss<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-bell icon"></i>
                        <h4><strong>Alerts</strong><br></h4>
                        <p>Set custom alerts and get notified when a stock reaches a certain price&nbsp;<br></p>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}


